@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 115 73% 52.2%;
    --primary-foreground: 0 0% 98%;
    --secondary: 33 98.5% 73.3%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 115 98% 39%;
    --chart-2: 115 68% 73%;
    --chart-3: 194 100% 31%;
    --chart-4: 194 100% 46%;
    --chart-5: 194 81% 71%;
    --chart-6: 26, 100%, 51%;
    --chart-7: 33, 100%, 51%;
    --chart-8: 33, 99%, 73%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 115 73% 27.5%;
    --primary-foreground: 0 0% 98%;
    --secondary: 33 50% 45%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 115 68% 35%;
    --chart-2: 115 98% 18%;
    --chart-3: 194 81% 40%;
    --chart-4: 194 100% 30%;
    --chart-5: 194 100% 20%;
    --chart-6: 26, 100%, 40%;
    --chart-7: 33, 100%, 30%;
    --chart-8: 33, 100%, 20%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}